<!-- TEMPERATURE MONITOR TEMPLATE -->
<h1>Temperature Monitor</h1>

<form novalidate name="addTempForm"
            ng-submit="tMCtrl.TemperatureMonitor.recordTemperature(tMCtrl.TemperatureMonitor.tempToAddToArray)">
  
  <!-- Input field and button for adding temperatures-->
  <div class="input-group" style="width:60%;min-width:300px">
    <input required ng-model="tMCtrl.TemperatureMonitor.tempToAddToArray"
            placeholder="Enter a temperature value"
            name="addTempInput"
            type="number"
            min="-272" max="10000"
            id="temperature"
            class="form-control">
    <span class="input-group-btn">
      <button type="submit"
            class="btn btn-default"
            ng-disabled="addTempForm.$invalid"
            onclick="this.form.reset();">
        Add
      </button>
    </span>
  </div>
  
  <!-- Error messages -->
  <p class="addInputError"
        ng-if="addTempForm.addTempInput.$invalid && addTempForm.$dirty">
    Please enter an appropriate value between -272 and +10000.
  </p>
  <p class="addInputError"
        ng-if="tMCtrl.TemperatureMonitor.temperaturesArray.length == tMCtrl.TemperatureMonitor.temperaturesArrayMaxLength">
    You have reached the maximum number of temperature values (8).
  </p><br>
    
  <!-- Display current values here -->
  <p>Current temperatures: {{tMCtrl.TemperatureMonitor.temperaturesArray}}</p>
  
</form>

<!-- Progress bar for temperatures array -->
<uib-progressbar style="width:60%;min-width:300px"
  ng-hide="tMCtrl.TemperatureMonitor.temperaturesArray.length < 1"
  type="{{tMCtrl.TemperatureMonitor.temperaturesArray.length > (tMCtrl.TemperatureMonitor.temperaturesArrayMaxLength * .75) ? 'danger' : ''}}" 
  class="progress-striped active"
  max="tMCtrl.TemperatureMonitor.temperaturesArrayMaxLength"
  value="tMCtrl.TemperatureMonitor.temperaturesArray.length">

    <span class="progressBar">
      {{tMCtrl.TemperatureMonitor.temperaturesArray.length}} / {{tMCtrl.TemperatureMonitor.temperaturesArrayMaxLength}}
    </span>

</uib-progressbar>


<hr>

<section>
  <button ng-click="tMCtrl.TemperatureMonitor.medianToDisplay = tMCtrl.TemperatureMonitor.getCurrentMedian()" class="btn btn-default">
    Get Median Temperature
  </button><br><br>
  
  Current Median: {{tMCtrl.TemperatureMonitor.medianToDisplay}}
</section>